/*RESET DEFAULTS*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

* {
  scroll-behavior: smooth;
}

/*===========FONTS===========*/
* {
  font-family: "Switzer";
}

.App {
  background: rgb(92, 135, 179);
  background-image: url("./images/Grid.svg"),
    linear-gradient(157deg, rgba(92, 135, 179, 1) 3%, rgba(38, 88, 150, 1) 82%);

  height: 100vh;
}

.App-header {
  background-color: #d2deeb;
  min-height: 14vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  font-weight: 500;
  line-height: 0.95;
  color: #265896;
  padding: 25px;
  z-index: 2;
  -webkit-box-shadow: 0 8px 15px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 15px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 15px 1px rgba(0, 0, 0, 0.25);

  z-index: 2;
}

.struction-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10em;
}

.struction-logo--header {
  /* position: fixed;
  top: 0.5em;
  right: 1em; */
  width: 7rem;
}

.dropdown {
  background: rgba(92, 135, 179, 0.1);
}

.map {
  background: rgb(92, 135, 179);
  background-image: url("./images/Grid.svg"),
    linear-gradient(157deg, rgba(92, 135, 179, 1) 3%, rgba(38, 88, 150, 1) 82%);
  position: absolute;
  display: flex;
  justify-content: center;
  top: 14vh;
  bottom: 0;
  width: 100vw;
  height: 86%;
  z-index: 1;
}

.map-image {
  border-radius: 15px;
  -webkit-box-shadow: 10px 11px 0.5px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 11px 0.5px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 11px 0.5px 1px rgba(0, 0, 0, 0.35);
}

.create-btn {
  position: fixed;
  bottom: 5vh;
  right: 6vw;
  width: 11em;
  z-index: 400;
  border-radius: 25px;
  border: none;
  padding: 3px 7px;
  font-weight: 700;
  background: #f9632b;
  color: #fff;
  cursor: pointer;
  border: solid 2px #f9632b;
}

.create-btn:hover {
  background: #fff;
  color: #f9632b;
  border: solid 2px #f9632b;
}

.marker-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 260px;
  gap: 5px;
}

INPUT[type="checkbox"] {
  margin-right: 2.5px;
}

.list-container {
  text-transform: capitalize;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 1;
}

.marker-form button {
  width: 120px;
  border: solid 2px rgba(38, 88, 150, 0.75);
  border-radius: 25px;
  color: rgba(38, 88, 150, 0.75);
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.marker-form button:hover {
  background-color: #265896;
  color: #fff;
  border: solid 2px #265896;
}

#delete-btn {
  background-color: #f92b2b;
  border: solid 2px #f92b2b;
  color: #fff;
}

#delete-btn:hover {
  background-color: #000;
  border: solid 2px #f92b2b;
  color: #f92b2b;
}

.checkList {
  width: 260px;
}

.list-container {
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
}

.leaflet-popup-content-wrapper {
  background: rgb(210, 222, 235);
  background: linear-gradient(
    180deg,
    rgba(210, 222, 235, 1) 82%,
    rgba(210, 222, 235, 0) 100%
  );

  display: flex;
  flex-direction: column;
  width: 300px;
}

.leaflet-popup-content {
  padding: 0;
  display: flex;
  align-items: center;
  width: 100px;
}

.input {
  appearance: none;
  border-radius: 5px;
  border: solid 1px #fff;
  width: 100%;
}

.title {
  font-family: "Roboto";
  color: rgba(38, 88, 150, 0.75);
  font-size: 12px;
}

#title-checkbox {
  margin-bottom: -15px;
  margin-top: 5px;
}

#status {
  margin-top: 5px;
  background-color: #d2deeb;
  margin-bottom: -15px;
}

#status-container {
  border-bottom: solid 2px #fff;
  padding-bottom: 20px;
  margin-bottom: 5px;
}

#services-container {
  border-bottom: solid 2px #fff;
  padding-bottom: 25px;
  margin-bottom: 5px;
}

.text-input {
  display: flex;
  gap: 5px;
  width: 100%;
  padding: 0 0 10px 0;
  border-bottom: solid 2px #fff;
  align-items: center;
}

#comment-container {
  padding-top: 5px;
}
/*-------------EXPERIMENTAL CHECKBOXES----------------*/
.checkbox {
  text-transform: capitalize;
  font-size: 10px;
  color: #265896;
  position: relative;
  width: 33%;
  padding: 0;
}

.checkbox input[type="checkbox"] {
  opacity: 0.00000001;
  transform: translateX(9px) translateY(25px);
}
.checkbox label {
  position: relative;
}
.checkbox label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 6px;
  width: 18px;
  height: 18px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid #265896;
}
.checkbox label:after {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid #265896;
  border-left: 2px solid #265896;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  position: absolute;
  top: 12px;
  left: 10px;
}
.checkbox input[type="checkbox"]:checked ~ label::before {
  color: #265896;
}

.checkbox input[type="checkbox"]:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.checkbox label {
  min-height: 28px;
  display: flex;
  padding-left: 26px;
  margin-bottom: -10px;
  font-weight: normal;
  cursor: pointer;
  vertical-align: sub;
  align-items: center;
  justify-content: flex-start;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: 0;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  position: relative;
  left: 1vw;
  bottom: 1vw;
}

.marker-form {
  height: 400px;
  overflow: scroll;
}