/*RESET DEFAULTS*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

* {
  scroll-behavior: smooth;
}

/*===========FONTS===========*/
* {
  font-family: "Switzer";
}

.App {
  background: rgb(92, 135, 179);
  background-image: url("./images/Grid.svg"),
    linear-gradient(157deg, rgba(92, 135, 179, 1) 3%, rgba(38, 88, 150, 1) 82%);

  height: 100vh;
}

.App-header {
  background-color: #d2deeb;
  min-height: 14vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 500;
  line-height: 0.95;
  color: #265896;
  padding: 25px;
  z-index: 2;
}

.struction-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10em;
}

.dropdown {
  background: rgba(92, 135, 179, 0.1);
}

.map {
  background: rgb(92, 135, 179);
  background-image: url("./images/Grid.svg"),
    linear-gradient(157deg, rgba(92, 135, 179, 1) 3%, rgba(38, 88, 150, 1) 82%);
  position: absolute;
  display: flex;
  justify-content: center;
  top: 14vh;
  bottom: 0;
  width: 100vw;
  height: 90%;
  z-index: 1;
}

.map-image {
  border-radius: 15px;
  -webkit-box-shadow: 10px 11px 0.5px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 11px 0.5px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 11px 0.5px 1px rgba(0, 0, 0, 0.35);
}

.floorButton {
  z-index: 100;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 0;
  left: 40%;
  right: 40%;
  margin: auto;
}

.create-btn {
  position: fixed;
  bottom: 2em;
  width: 11em;
  z-index: 400;
  border-radius: 25px;
  border: none;
  padding: 3px 7px;
  font-weight: 700;
  background: #f9632b;
  color: #fff;
  cursor: pointer;
  border: solid 2px #f9632b;
}

.create-btn:hover {
  background: #fff;
  color: #f9632b;
  border: solid 2px #f9632b;
}

.marker-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: none;
  margin: none;
  width: 300px;
  gap: 5px;
}

INPUT[type="checkbox"] {
  margin-right: 2.5px;
}

.list-container {
  text-transform: capitalize;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 1;
  gap: 5px;
}
